<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="CustomSection" type="AssemblyWithConfiguration.CustomSection, AssemblyWithConfiguration" allowExeDefinition="MachineToLocalUser" />
  </configSections>
  <appSettings>
    <add key="Key2" value="Value20"/>
    <add key="Key3" value="Value30"/>
  </appSettings>
  <CustomSection>
    <SomeConfiguration name="nnn" value="vvv"/>
  </CustomSection>
</configuration>