<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="CustomSection" type="ConfigurationExperiments.Manager.CustomSection, ConfigurationExperiments"/>
		<section name="CustomSection2" type="ConfigurationExperiments.Manager.CustomSection, ConfigurationExperiments"/>
	</configSections>
	<startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
	<connectionStrings>
		<add name="AAAConnectionString" connectionString="AAA"/>
	</connectionStrings>
	<CustomSection>
		<Elements>
			<Element Name="Custom1" Value="10"/>
			<Element Name="Custom2" Value="20"/>
			<ElementDerived Name="Custom3" Value="30" Value2="111"/>
			<ElementWithText>This is the text</ElementWithText>
		</Elements>
		<Parameters>
			<Parameter Name="TestInt" Type="System.Int32" Value="10"/>
			<Parameter Name="TestDouble" Type="System.Double" Value="20"/>
		</Parameters>
	</CustomSection>
	<CustomSection2>
		<DummyContent/>
	</CustomSection2>
</configuration>
