<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
	<appSettings>
		<!-- Test environment -->
		<add key="SalesForce:ClientId" value="3MVG9hq7jmfCuKffxV8EIa4PjxTBxYaxzvWkdFB2BCUyknFDpAyKzyQvLHEiW1QzD5LWWW2t9NZcBDA5T5Agg" />
		<add key="SalesForce:ClientSecret" value="4234101889772213426" />
		<add key="SalesForce:Username" value="genapi@spikesco.com.qat" />
		<add key="SalesForce:Password" value="edoqSVIKP2VmHFDjKYI1" />
		<add key="SalesForce:SecurityToken" value="6zRbBegLs2uuvsJiZIEHixnM" />
		<add key="SalesForce:AuthUri" value="https://test.salesforce.com/services/oauth2/token" />
		<!-- Prod environment -->
		<!--
		<add key="SalesForce:ClientId" value="3MVG99OxTyEMCQ3iYnEbxa3soPA6ConZ1pKb4uqziSOU4rrLdVFV9eh6J5IjIGAnVVXP6fm_rkxBIMr13dbOX"/>
		<add key="SalesForce:ClientSecret" value="4873240417688456050"/>
		<add key="SalesForce:Username" value="genapi@spikesco.com"/>
		<add key="SalesForce:Password" value="edoqSVIKP2VmHFDjKYI1"/>
		<add key="SalesForce:SecurityToken" value="J5pai5SklMPewNZdAER1TAGCV"/>
		<add key="SalesForce:AuthUri" value="https://login.salesforce.com/services/oauth2/token"/>
		-->
	</appSettings>
</configuration>