<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
	<appSettings>
		<add key="q1.Path" value="forwardingtest1.q"/>
		<add key="q1.connectionString" value="Endpoint=sb://spikecodatapump-pmouat.servicebus.windows.net/;SharedAccessKeyName=Listen;SharedAccessKey=38Zl/AIH3jSD7G0fdlPzLZ/RPbxTMwuJiA28vqvslrw=;TransportType=Amqp"/>
		<add key="q2.Path" value="forwardingtest2.q"/>
		<add key="q2.connectionString" value="Endpoint=sb://spikecodatapump-pmouat.servicebus.windows.net/;SharedAccessKeyName=Listen;SharedAccessKey=PitFHYS/qpiQw9BJpOwQxJB5rvzJAfJ4ReZ1aY8ooFY=;TransportType=Amqp"/>
	</appSettings>
</configuration>