<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
	<appSettings>
		<add key="Send.Path" value="forwardingtest.t"/>
		<add key="Send.ConnectionString"
			value="Endpoint=sb://spikecodatapump-pmouat.servicebus.windows.net/;SharedAccessKeyName=Send;SharedAccessKey=sZhYhadps0/myhvMRy7cEIonZiQ0/7lqK/78gciI8bU="/>
		<add key="Manage.Path" value="forwardingtest.t"/>
		<add key="Manage.ConnectionString"
			value="Endpoint=sb://spikecodatapump-pmouat.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=sM1gDfLR5egFss0KWPPxT1gTNUYxF/oMjI23C5aAgrs="/>
	</appSettings>
</configuration>