<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
	<appSettings>
		<add key="username" value="pmouat@spikesco.com"/>
		<add key="dev:url" value="https://genauthenticationcs-dev.spikesco.com/api/auth/acquiretoken"/>
		<add key="test:url" value="https://genauthenticationcs-test.spikesco.com/api/auth/acquiretoken"/>
		<add key="qa:url" value="https://genauthenticationcs-qa.spikesco.com/api/auth/acquiretoken"/>
		<add key="beta:url" value="https://genauthenticationcs-beta.spikesco.com/api/auth/acquiretoken"/>
		<add key="prod:url" value="https://genauthenticationcs.spikesco.com/api/auth/acquiretoken"/>
	</appSettings>
</configuration>
