<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="vaultBaseUrl" value="https://my-demo-key-vault.vault.azure.net" />
    <add key="clientId" value="36498989-cd7b-4e01-a589-6f841e372db4" />
    <add key="clientSecret" value="ketzIQOAvMW6iz4YZVHUCNx8AyplXRDE4TrcnHPrd7o=" />
  </appSettings>
</configuration>