#main-view {
    text-align: left;
}

#spikecologo {
    margin-bottom: 20px;
}

.intro h2 {
    font-size: 14px;
    margin-bottom: 15px;
}

.error p {
    color: orange;
    margin: 0;
}

.entry-item label {
    margin-top: 5px;
}

.entry-item input {
    margin-bottom: 5px;
}

.entry-item a {
    font-size: .8em;
    font-weight: 400;
    padding-left: 5px;
    margin-bottom: 5px;
}

#logonIdentifier {
    color: white;
    background-color: #666666;
    border-color: transparent;
    border-style: none;
    font-size: 12px;
    width: 100%;
    padding-left: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
    display: block;
}

#password {
    color: white;
    background-color: #666666;
    border-color: transparent;
    border-style: none;
    font-size: 12px;
    width: 100%;
    padding-left: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-bottom: 15px;
    display: block;
}

#email, #email_ver_input, #newPassword, #reenterPassword,
#surname, #extension_SalesforceId, #givenName, #displayName, #extension_EntitlementsId  {
    color: white;
    background-color: #666666;
    border-color: transparent;
    border-style: none;
    font-size: 12px;
    width: 100%;
    padding-left: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-bottom: auto;
    display: block;
}

.attrEntry {
    padding-top: 5px;
    padding-bottom: 5px;
}

    .attrEntry div {
        padding-bottom: 10px;
    }

    .attrEntry a {
        font-size: .8em;
        font-weight: 400;
        padding-left: 5px;
        padding-bottom: 10px;
    }

.attrEntry .helpText {
    color: orange;
    margin: 0;
}

label {
    margin-bottom: 5px;
    height: 20px;
}

#email_ver_input_label {
    margin-bottom: 5px;
    height: 20px;
}

.buttons button {
    margin: 30px 0 0 0;
    padding: 20px;
    color: white;
    background-color: #3a99d9;
    border-color: #2e81b7;
    display: inline-block;
    font-size: 12px;
    vertical-align: middle;
    text-align: center;
    height: auto;
    width: 100%;
}

#email_ver_but_send, #email_ver_but_verify,
#email_ver_but_resend, #email_ver_but_edit,
#email_ver_but_default, #continue, #cancel {
    margin: 10px 0 0 0;
    padding: 15px;
    color: white;
    background-color: #3a99d9;
    border-color: #2e81b7;
    border-radius: 0;
    display: inline-block;
    font-size: 12px;
    vertical-align: middle;
    text-align: center;    
    width: auto;
}

.divider h2 {
    display: none;
}

.create p {
    display: none;
}
